/* ARMADO PARA MOBILE FIRST */

*{
box-sizing: border-box;
}
html{
scroll-behavior: smooth;
}

body{
font-family: 'Inter', sans-serif;;
margin: 0;
}

h1{ font-size: 3.5em;
font-family: 'Inter', sans-serif;
font-weight: 700;}

h2{ font-size: 2.7em;
font-family: 'Inter', sans-serif;
font-weight: 700;}

h3{ 
    font-size: 2em;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

p{font-size: 1.25em;}
ul{ list-style: none;}
li{font-size: 1.25em;}

button {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 6px #284261;
    color: white;
    background-color: #700C0C;
}

button:hover{
    background-color:#284261;
}
#contacto {
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 10px;
  border: 0.5px solid rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 6px #284261;
  color: white;
  background-color: #700C0C;
}

#contacto:hover{
  background-color:#284261;
}

.container{
    max-width: 1400px;
    margin:auto;
}

.color-acento{ color:#79A8D6}

/* HEADER */
header{
    background-color: #334E6E;
}

header.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    }

    :root {
      --navbar-bg-color: #334e6e;
      --navbar-text-color: hsl(0, 0%, 85%);
      --navbar-text-color-focus: #79A8D6;
    }

    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
    body {
      height: 100vh;
      font-family: Arial, Helvetica, sans-serif;
      line-height: 1.6;
    }
    
    #navbar {
      --navbar-height: 64px;
      position: fixed;
      height: var(--navbar-height);
      background-color: var(--navbar-bg-color);
      left: 0;
      right: 0;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    }
    .navbar-container {
      display: flex;
      justify-content: space-between;
      height: 100%;
      align-items: center;
    }
    .navbar-item {
      margin: 0.4em;
      width: 100%;
    }
    
    .navbar-link {
      color: var(--navbar-text-color);
      text-decoration: none;
      display: flex;
      font-weight: 400;
      align-items: center;
    }
    
    .navbar-logo:is(:focus, :hover) {
      color: var(--navbar-text-color-focus);
    }
    
    .navbar-link {
      justify-content: center;
      width: 100%;
      padding: 0.4em 0.8em;
      border-radius: 5px;
    }
    
    .navbar-link:is(:focus, :hover) {
      color: var(--navbar-text-color-focus);
      background-color: var(--navbar-bg-contrast);
    }
    .navbar-logo {
      width: 100px;
      height: 100%;
      margin-bottom: 0px;
    }
    #navbar-toggle {
      cursor: pointer;
      border: none;
      background-color: transparent;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .icon-bar {
      display: block;
      width: 25px;
      height: 4px;
      margin: 2px;
      background-color: var(--navbar-text-color);
    }
    #navbar-toggle:is(:focus, :hover) .icon-bar {
      background-color: var(--navbar-text-color-focus);
    }
    #navbar-toggle[aria-expanded="true"] .icon-bar:is(:first-child, :last-child) {
      position: absolute;
      margin: 0;
      width: 30px;
    }
    #navbar-toggle[aria-expanded="true"] .icon-bar:first-child {
      transform: rotate(45deg);
    }
    #navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(2) {
      opacity: 0;
    }
    #navbar-toggle[aria-expanded="true"] .icon-bar:last-child {
      transform: rotate(-45deg);
    }
    #navbar-menu {
      position: fixed;
      top: var(--navbar-height);
      bottom: 0;
      opacity: 0;
      visibility: hidden;
      left: 0;
      right: 0;
    }
    #navbar-toggle[aria-expanded="true"] + #navbar-menu {
      background-color: rgba(0, 0, 0, 0.4);
      opacity: 1;
      visibility: visible;
    }
    .navbar-links {
      list-style: none;
      position: absolute;
      background-color: var(--navbar-bg-color);
      display: flex;
      flex-direction: column;
      align-items: center;
      left: 0;
      right: 0;
      margin: 1.4rem;
      border-radius: 5px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    }
    
    #navbar-toggle[aria-expanded="true"] + #navbar-menu .navbar-links {
      padding: 1em;
    }
    @media screen and (min-width: 700px) {
      #navbar-toggle,
      #navbar-toggle[aria-expanded="true"] {
        display: none;
      }
    
      #navbar-menu,
      #navbar-toggle[aria-expanded="true"] #navbar-menu {
        visibility: visible;
        opacity: 1;
        position: static;
        display: block;
        height: 100%;
      }
    
      .navbar-links,
      #navbar-toggle[aria-expanded="true"] #navbar-menu .navbar-links {
        margin: 0;
        padding: 0;
        box-shadow: none;
        position: static;
        flex-direction: row;
        width: 100%;
        height: 100%;
      }
    }
 
    @media screen and (min-width: 700px) {
      #navbar-toggle,
      #navbar-toggle[aria-expanded="true"] {
        display: none;
      }}
    
  
/*main sections*/

#sobrenosotros .about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#sobrenosotros .carta {
    flex: 0 0 30%;
    margin: 20px;
}


#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
    )
    ,url("imagenes/hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


#hero h1{
    color: white
}

#hero button{
    font-size: 1.5em;
}

#somos-argenplanner{
    margin-top: 150px;
    margin-bottom: 150px;

}

#somos-argenplanner.container{
    text-align: center;
    padding: 200px 12 px;
}

#sobrenosotros{
    background-color: #79A8D6;
    color: white;
    text-align: center;
    
    
}
#sobrenosotros.container{
    padding: 150px 12px;
}

#sobrenosotros h2 {
    margin-top: 10;
    font-size: 3.2em;
}


#sobrenosotros p {
    display: none;
}

#sobrenosotros .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}

.carta:first-child {
    background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
    ),
    url("imagenes/mision.jpg");
}

.carta:nth-child(2) {
    background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
    ),
    url("imagenes/quienessomos.jpg");
}

.carta:nth-child(3) {
    background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
    ),
    url("imagenes/vision.jpg");
}


#caracteristicas .container{
    text-align: center;
    padding: 200px 12px;
}

#caracteristicas li{
    margin: 12px 0px;
    font-weight: bold;

}



#final{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #79A8D6;
    color: white;
    height: 80vh;
}

#final h2{
    font-size: 9vw;

}

#final button{
    font-size: 5vw;
}

/*Footer*/

.footer {
  text-align: center;
  background-color: #334E6E;
  color: #fff;
  padding: 50px;
  bottom: 0;
  width: 100%;
  box-sizing: border-box; 
}

.footer .footer-sections {
  display: flex;
  justify-content: space-between;
}

.footer .footer-sections div {
  padding: 2rem 0rem;
  top: 0;
  flex: 1; 
}

.footer .footer-sections p {
  font-size: 14px;
}

.footer a {
  color: aliceblue;
}

.footer ul {
  list-style: none;
}

.footer ul li {
  font-size: 14px;
  color: #fff;
}

.footer h3 {
  font-size: 15px;
}

footer .container {
  justify-content: flex-end;
}





  
  

  /* PRIMER PUNTO DE CORTE PARA DISPOSITIVOS MOVILES */

  @media (min-width: 720px) {
    header {
      position: fixed;
      width: 100%;
    }
  
    header .container {
      flex-direction: row;
      justify-content: space-between;
    }
  
    header nav {
      flex-direction: row;
      padding-bottom: 0;
      padding-right: 20px;
    }
    
  
    #hero h1 {
      font-size: 4em;
    }
  
    #somos-argenplanner .container {
      display: flex;
      justify-content: space-evenly;
    }
  
    #somos-argenplanner .texto {
      width: 50%;
      max-width: 600px;
      text-align: initial;
      padding-left: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  
    #somos-argenplanner h2 {
      margin-top: 0px;
    }
  
    #somos-argenplanner .img-container {
      background-image: url("imagenes/logofondo.png");
      background-size: cover;
      background-position: center center;
      height: 350px;
      width: 400px;
    }
  
    #sobrenosotros{
        background-image: url(imagenes/nube-avion.png), url(imagenes/nube2.png);
        background-repeat: no-repeat, no-repeat;
        background-size: 200px 150px, 250px 180px;
        background-position: top 20px left 50px, top 30% right 20px;
      }


    #sobrenosotros .about {
      display: flex;
      justify-content: center;
    }
  
    #sobrenosotros p {
      display: block;
      margin-bottom: 30px;
    }
  
    #sobrenosotros h3 {
      margin-top: 0;
    }
  
    #sobrenosotros .carta {
      padding: 15px;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    }
  
    #caracteristicas {
      background-image: url(imagenes/ar);
      background-repeat: no-repeat;
      background-size: 500px 400px;
      background-position: right bottom;
    }
  
    #caracteristicas .container {
      text-align: initial;
    }
  
    #caracteristicas ul {
      margin-left: 100px;
    }
  
    #final h2 {
      font-size: 5em;
    }
  
    #final button {
      font-size: 2em;
    }
  
   
    .icon {
      width: 40px;
      height: 40px;
      
    }
    
  }

/* Estilos para pantallas grandes */
/* Agrega aquí los estilos que deseas aplicar para pantallas grandes */

@media(min-width:1100px){
    #caracteristicas{
        background-position: calc(100vw - 800px);
    }
}

/* Estilos para pantallas medianas */
/* Agrega aquí los estilos que deseas aplicar para pantallas medianas */

@media (min-width: 768px) and (max-width: 1099px) {
}
