*{
    box-sizing: border-box;
    }
    html{
    scroll-behavior: smooth;
    }
    
    body{
    font-family: 'Inter', sans-serif;;
    margin: 0;
    }
    
    h1{ font-size: 3.5em;
    font-family: 'Inter', sans-serif;
    font-weight: 700;}
    
    h2{ font-size: 2.7em;
    font-family: 'Inter', sans-serif;
    font-weight: 700;}
    
    h3{ 
        font-size: 2em;
        font-family: 'Inter', sans-serif;
        font-weight: 700;
    }
    
    p{font-size: 1.25em;}
    ul{ list-style: none;}
    li{font-size: 1.25em;}
/* HEADER */
header{
    background-color: #334E6E;
}

header.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    }

    :root {
      --navbar-bg-color: #334e6e;
      --navbar-text-color: hsl(0, 0%, 85%);
      --navbar-text-color-focus: #79A8D6;
    }
    
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    body {
      height: 100vh;
      font-family: Arial, Helvetica, sans-serif;
      line-height: 1.6;

    }
    .container {
      max-width: 1000px;
      padding-left: 1.4rem;
      padding-right: 1.4rem;
      margin-left: auto;
      margin-right: auto;
    }

    #navbar {
      --navbar-height: 64px;
      height: var(--navbar-height);
      background-color: var(--navbar-bg-color);
      left: 0;
      right: 0;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    }

    .navbar-container {
      display: flex;
      justify-content: space-between;
      height: 100%;
      align-items: center;
    }

    .navbar-item {
      margin: 0.4em;
      width: 100%;
    }
    
    .navbar-link {
      color: var(--navbar-text-color);
      text-decoration: none;
      display: flex;
      font-weight: 400;
      align-items: center;
    }
    
    .navbar-logo:is(:focus, :hover) {
      color: var(--navbar-text-color-focus);
    }
    
    .navbar-link {
      justify-content: center;
      width: 100%;
      padding: 0.4em 0.8em;
      border-radius: 5px;
    }
    
    .navbar-link:is(:focus, :hover) {
      color: var(--navbar-text-color-focus);
      background-color: var(--navbar-bg-contrast);
    }
    .navbar-logo {
      width: 100px;
      height: 100%;
      margin-bottom: 0px;
    }
    #navbar-toggle {
      cursor: pointer;
      border: none;
      background-color: transparent;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .icon-bar {
      display: block;
      width: 25px;
      height: 4px;
      margin: 2px;
      background-color: var(--navbar-text-color);
    }
    #navbar-toggle:is(:focus, :hover) .icon-bar {
      background-color: var(--navbar-text-color-focus);
    }
    #navbar-toggle[aria-expanded="true"] .icon-bar:is(:first-child, :last-child) {
      position: absolute;
      margin: 0;
      width: 30px;
    }
    #navbar-toggle[aria-expanded="true"] .icon-bar:first-child {
      transform: rotate(45deg);
    }
    #navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(2) {
      opacity: 0;
    }
    #navbar-toggle[aria-expanded="true"] .icon-bar:last-child {
      transform: rotate(-45deg);
    }
    #navbar-menu {
      position: fixed;
      top: var(--navbar-height);
      bottom: 0;
      opacity: 0;
      visibility: hidden;
      left: 0;
      right: 0;
    }
    #navbar-toggle[aria-expanded="true"] + #navbar-menu {
      background-color: rgba(0, 0, 0, 0.4);
      opacity: 1;
      visibility: visible;
    }
    .navbar-links {
      list-style: none;
      position: absolute;
      background-color: var(--navbar-bg-color);
      display: flex;
      flex-direction: column;
      align-items: center;
      left: 0;
      right: 0;
      margin: 1.4rem;
      border-radius: 5px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    }
    
    #navbar-toggle[aria-expanded="true"] + #navbar-menu .navbar-links {
      padding: 1em;
    }
    @media screen and (min-width: 700px) {
      #navbar-toggle,
      #navbar-toggle[aria-expanded="true"] {
        display: none;
      }
    
      #navbar-menu,
      #navbar-toggle[aria-expanded="true"] #navbar-menu {
        visibility: visible;
        opacity: 1;
        position: static;
        display: block;
        height: 100%;
      }
    
      .navbar-links,
      #navbar-toggle[aria-expanded="true"] #navbar-menu .navbar-links {
        margin: 0;
        padding: 0;
        box-shadow: none;
        position: static;
        flex-direction: row;
        width: 100%;
        height: 100%;
      }
    }
 
    @media screen and (min-width: 700px) {
      #navbar-toggle,
      #navbar-toggle[aria-expanded="true"] {
        display: none;
      }}



/*Hero*/

.paquetes {
    display: flex;
    background: #ffffff;
}


#bariloche,
#sanMartin,
#villaAng {
    width: 33%;
    margin: 20px;
    height: 600px;
    color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 20px;
    flex-direction: column;
}

#bariloche {
    background-image : url("imagenes/barilochepaquete.jpg");
    background-color: white;
    background-position: center;
    width: 33%;
    height: 200px;
}


#sanMartin {
    background-image: url("imagenes/san\ martin\ de\ los\ andes.jpg");
    background-color: white;
    background-position: center;
    width: 33%;
    height: 200px;
}

#villaAng {
    background-image: url("imagenes/villa\ la\ angostura.webp");
    background-color: white;
    background-position: center;
    width: 33%;
    height: 200px;
}

.descripcion {
    color: #334e6e;
    background-color: white;
    width: 100%;
    height: 100px;
    margin-bottom: 0;
    margin-top: 50%
}

/*Footer*/

.footer {
    text-align: center;
    background-color: #334E6E;
    color: #fff;
    padding: 50px;
    bottom: 0;
    width: 100%;
    box-sizing: border-box; 
  }
  
  .footer .footer-sections {
    display: flex;
    justify-content: space-between;
  }
  
  .footer .footer-sections div {
    padding: 2rem 0rem;
    top: 0;
    flex: 1; 
  }
  
  .footer .footer-sections p {
    font-size: 14px;
  }
  
  .footer a {
    color: aliceblue;
  }
  
  .footer ul {
    list-style: none;
  }
  
  .footer ul li {
    font-size: 14px;
    color: #fff;
  }
  
  .footer h3 {
    font-size: 15px;
  }
  
  footer .container {
    justify-content: flex-end;
  }

  .icon {
    width: 40px;
    height: 40px;
    
  }
  
  .loader {
    border: 16px solid #f3f3f3; /* Grosor de la animación */
    border-top: 16px solid #3498db; /* Color del ícono de carga */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite; /* Animación de rotación */
    display: none; /* La animación estará oculta inicialmente */
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); } /* Rotación completa */
  }
